.Penampung {
  background-color: #00031f;
  width: 100%;
  min-height: 800px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.kontens {
  margin: 80px auto 0 auto;
  width: 100%;
}
div.formAdd {
  width: 80%;
}
/* HEADER */

.headerCustom {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1);
}
div.headerCustom {
  position: absolute;
  z-index: 99;
  top: 0;
}
.userAccount {
  margin-right: 15%;
}
.webLogo {
  margin-left: 15%;
  font-family: serif;
}

.logo {
  width: 29.63px;
  height: 30px;
}
.userPict {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px white solid;
}
/* DROPDOWN */
div.drpDown {
  width: 220px;
  height: 137px;
  border-radius: 10px;
  background-color: #191c35;
  position: absolute;
  z-index: 4;
  top: 100px;
  right: 9%;
}

.segitiga {
  position: absolute;
  margin-top: -20px;
  right: 0;
}

.pointer {
  cursor: pointer;
}

/* JARGON */

.jargon {
  font-family: "Abhaya Libre Medium", serif;
  font-size: 100px;
  margin: 0;
}
.white {
  color: white;
}
input.white {
  color: white;
}
select.white {
  color: white;
}
.green {
  color: #03f387;
}
.noMargin {
  margin: 0;
}
.kaset {
  width: 119.98px;
  height: 120px;
  color: #8b8b8b;
  display: flex;
  clear: both;
}
.button {
  background-color: #03f387;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
}
.pay {
  font-size: 24px;
}

/* Register & Login */

.content {
  background-image: url("./img/vector61-202-01 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  display: grid;
  justify-content: center center;
}
.pembagi {
  margin: auto;
  width: 85%;
  display: flex;
  clear: both;
  place-content: space-between;
}
.ReLog {
  width: 416px;
  font-family: "Open Sans", sans-serif;
}
input.input {
  padding-left: 10px;
}
.input {
  padding-left: 10px;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  margin: 10px auto;
  border: solid 2px white;
  font-size: 24px;
}
.regis {
  font-size: 36px;
}
.tembus {
  background-color: #ffffff4f;
}
input.tembus {
  background-color: #ffffff4f;
}
button.tembus {
  background-color: #ffffff4f;
}
select.tembus {
  background-color: #ffffff4f;
}
/* CARD */

.cardMe {
  width: 192px;
  padding: 2px 3px;
  border-radius: 10px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #363954;
  overflow: hidden;
  display: grid;
  cursor: pointer;
}

.songList :hover {
  transform: scale(1.1);
  transition: 1s;
}

.titel {
  display: flex;
  align-items: baseline;
}
.left {
  text-align: left;
}
.tahun {
  font-size: 12px;
  text-align: right;
  width: 60%;
}
.CardIMG {
  width: 90%;
  border-radius: 10px;
  margin: 4px auto;
}

/* INDEX */
.songList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 90%;
  margin: 0px auto;
  padding-bottom: 100px;
  clear: both;
}

/* SLIDER */

.showBox {
  width: 95%;
  height: 30%;
  margin: 120px auto 40px auto;
}
.slider {
  width: 95%;
  margin: 5px;
  border-radius: 10px;
}

/* Payment */

.Payment {
  position: fixed;
  top: 80px;
  bottom: 10%;
  left: 10%;
  right: 10%;
  display: grid;
  place-content: center center;
  text-align: center;
  background-color: #00031ff6;
  z-index: 2;
  border-radius: 15px;
}

.middle {
  margin-left: 10%;
}

.closer {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center center;
  background-color: aliceblue;
  cursor: pointer;
}

.fileUpload {
  display: none;
}

.Upload {
  background-color: #00031ffa;
  border: white 2px solid;
  font-weight: bolder;
  cursor: pointer;
}

button.submitButton {
  width: 300px;
}

/* MUSIC PLAYER */

/* .musicPlayer {
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 5;
} */
