.Penampung {
  background-color: #00031F;
  width: 100%;
  height: 900px;
  font-size: 24px;
  font-family: 'Avenir', 'Helvetica Neue', 'sans-serif';
}

/* HEADER */
.Header {
  position: absolute;
  top: 60px;
  left: 150px;
  display: flex;
  align-items: baseline;
}
.logo {
  width: 29.63px;
  height: 30px;
}

/* JARGON */

.jargon {
  font-family: 'Abhaya Libre Medium', 'Helvetica Neue', 'sans-serif';
  font-size: 100px;
  margin: 0;
}
.white {
  color: white;
}
.green {
  color:  #03F387;
}
.noMargin {
  margin: 0;
}
.kaset {
  width: 119.98px;
  height: 120px;
  color: #8B8B8B;
  display: flex;
  clear: both;
}
.button {
  background-color: #03F387;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 50px;
  font-family: 'Avenir', 'Helvetica Neue', 'sans-serif';
  font-style: bold;
}
.pay {
  font-size: 24px;
}

/* Register & Login */

.content {
  background-image: url("./img/vector61-202-01 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  display: grid;
  justify-content: center center;
}
.pembagi {
  margin: auto;
  width: 85%;
  display: flex;
  clear: both;
  place-content:  space-between;

}
.ReLog {
  width: 416px;
  font-family: 'Avenir', 'Helvetica Neue', 'sans-serif';
}
.input {
  border-radius: 5px;
  width: 350px;
  height: 50px;
  margin: 10px auto;  
}
.regis {
  font-size: 36px;
}
.tembus {
  opacity: 25%;
}