.Penampung {
  background-color: #00031F;
  width: 100%;
  font-size: 24px;
  font-family: 'Avenir', 'Helvetica Neue', 'sans-serif';
  overflow: hidden;
}

/* HEADER */
.Header {
  position: absolute;
  top: 30px;
  left: 150px;
  display: flex;
  align-items: baseline;
  z-index: 99;
}
.logo {
  width: 29.63px;
  height: 30px;
}

/* JARGON */

.jargon {
  font-family: 'Abhaya Libre Medium', 'Helvetica Neue', 'sans-serif';
  font-size: 100px;
  margin: 0;
}
.white {
  color: white;
}
.green {
  color:  #03F387;
}
.noMargin {
  margin: 0;
}
.kaset {
  width: 119.98px;
  height: 120px;
  color: #8B8B8B;
  display: flex;
  clear: both;
}
.button {
  background-color: #03F387;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 50px;
  font-family: 'Avenir', 'Helvetica Neue', 'sans-serif';
  font-style: bold;
}
.pay {
  font-size: 24px;
}

/* Register & Login */

.content {
  background-image: url("./img/vector61-202-01 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
  display: grid;
  justify-content: center center;
}
.pembagi {
  margin: auto;
  width: 85%;
  display: flex;
  clear: both;
  place-content:  space-between;

}
.ReLog {
  width: 416px;
  font-family: 'Avenir', 'Helvetica Neue', 'sans-serif';
}
.input {
  border-radius: 5px;
  width: 350px;
  height: 50px;
  margin: 10px auto;  
}
.regis {
  font-size: 36px;
}
.tembus {
  opacity: 25%;
}

/* CARD */

.cardMe {
  width: 192px;
  padding: 2px 3px;
  border-radius: 10px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #363954;
  overflow: hidden;
  display: grid;
}

.titel {
  display: flex;
  align-items: baseline;
}
.left {
  text-align: left;
}
.tahun {
  font-size: 12px;
  text-align: right;
  width: 60%;
}
.CardIMG {
  width: 90%; 
  border-radius: 10px;
  margin: 4px auto;
}

/* HEADER LOGIN */

.headerLogin {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 1;
  clear: both;
}

.userPict {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 200px;
  border: 2px black solid;
}


/* INDEX */
.songList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 90%;
  margin: 0px auto;
  padding-bottom: 100px;
  clear: both;
}

/* SLIDER */

.showBox {
  width: 95%;
  height: 300px;
  margin: 40px auto;
}
.slider {
  height: 300px;
  margin: 5px;
  border-radius: 10px;

}